#container {
  top: 40%;
  left: 45%;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 999999;
}
#graphoscope-nav {
  width: 242px;
  height: 200px;
  padding: 0px;
  touch-action: none;
  background-color: #000000;
}

#graphoscope-toolbar {
  width: 500px;
  background-color: #000000;
  padding: 2px 2px 2px 15px;
}

#view-toolbar {
  width: 400px;
  background-color: #000000;
  padding: 2px 2px 2px 15px;
}
#overlay-table {
  padding: 2px 2px 2px 15px;
}
#overlay-box {
  width: 400px;
  height: 200px;
  background-color: #F0F0F0   ;
  /*padding: 2px 2px 2px 15px;*/
  overflow-y: auto;
  overflow-x:scroll;
}
.navbar-default {
	background-color: #707070;
	margin-bottom: 5px;
	min-height:32px;
	padding-left:5px;
    padding-right:5px;
}
#draw-settings {
  z-index: 1000;
  position: absolute;
  background-color: #333;
  display: none;
  padding-left: 20px;
  padding-right: 42px;
  border-bottom-right-radius:7px;
  border-top-right-radius:7px;
  bottom: 300px;
}

#line-width {
  width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
}

#line-color {
  margin-top: 0;
  margin-bottom: 20px;
}

#red-btn {
  background-color: red;
}

#orange-btn {
  background-color: #ffa500;
}

#blue-btn {
  background-color: blue;
}

#green-btn {
  background-color: green;
}

#black-btn {
  background-color: black;
}

#white-btn {
  background-color: white;
}

.draw-tools-item {
  float: right;
  clear:both;
  margin: 10px;
  font-size: 1.5em;
  color: #aaa;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  outline-style: none;
  outline: 0;
}
#textDialogTextArea {
	margin : 1px 0;
}
/*
#tools-panel {
  position: absolute;
  top: 3px;
  z-index: 99999;
  background-color: #333;
  padding: 10px;
  opacity: 1 !important;
  border-bottom-right-radius:7px;
  border-top-right-radius:7px;
  padding-right: 42px;
  height: 60px;

}

#view-tools {
  position: absolute;
  bottom: 3px;
  right: 0px;
  z-index: 1000;
  padding: 10px; 
  background-color: #333;
  width:40%;
  padding-left:42px;
  border-bottom-left-radius:7px;
  border-top-left-radius:7px;
}

.toolbar-btn {
  float: left; 
}

.btn-lg {
  border-radius: 0px !important;
}



#nav-hide-button {
  height: 100%;
  position: absolute;
  z-index: 9999999999;
  border-radius: 0px !important;
}

#nav-show-button {
  height: 200px;
  position: absolute;
  z-index: 9;
  border-radius: 7px 0px 0px 7px !important;
  right: 0;
  bottom: 100px;
}

#toolbar-hide-button {
  height: 100%;
  position: absolute;
  z-index: 9999999999;
  right:0;
  top:0;
  border-radius: 0px 7px 7px 0px !important;
}

#toolbar-show-button {
  height: 60px;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 3px;
  border-radius: 0px 7px 7px 0px !important;
}
*/
